- if can?(current_user, :create_deployment, deployment)
  - actions = deployment.manual_actions
  - if actions.present?
    .btn-group
      .dropdown
        %button.dropdown.dropdown-new.btn.btn-default{ type: 'button', 'data-toggle' => 'dropdown' }
          = custom_icon('icon_play')
          = icon('caret-down')
        %ul.dropdown-menu
          - actions.each do |action|
            - next unless can?(current_user, :update_build, action)
            %li
              = link_to [:play, @project.namespace.becomes(Namespace), @project, action], method: :post, rel: 'nofollow' do
                = custom_icon('icon_play')
                %span= action.name.humanize
